<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ichenkaihua.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="com.github.ichenkaihua.model.Blog">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <id column="dir_id" jdbcType="INTEGER" property="dirId" />
        <result column="plan_id" jdbcType="INTEGER" property="planId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="task_id" jdbcType="INTEGER" property="taskId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="BLOB" property="content" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="remove" jdbcType="INTEGER" property="remove" />
        <result column="read_number" jdbcType="INTEGER" property="readNumber" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
</mapper>