<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ichenkaihua.mapper.ClassifyMapper">
    <resultMap id="BaseResultMap" type="com.github.ichenkaihua.model.Blog">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="classify_name" jdbcType="CHAR" property="classifyName" />
        <result column="group_id" jdbcType="INTEGER" property="groupId" />
    </resultMap>
</mapper>
